* {
  font-family: "Noto Sans KR", sans-serif;
}

.logo {
  font-family: "Major Mono Display", monospace;
}

.my-4 {
  margin-bottom: 0 !important;
}

.heading a:hover .logo {
  background-image: linear-gradient(to right, #2b00ff, #ffd700);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  transition: 1s;
}

.heading a,
a:visited {
  color: black;
}

.heading a:hover {
  text-decoration: none;
}

h3.filter_option {
  font-size: 1.1rem;
}

h4.filter_key {
  font-size: 1rem;
}

div.heading {
  padding: 30px 0;
  text-align: center;
}

.card {
  margin-bottom: 20px;
}

.card-body h4 {
  font-size: 1.25rem;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.scroll-to-top {
  position: fixed;
  line-height: 0;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.scroll-to-top img {
  width: 50%;
  height: 50%;
}

/*토글*/
.toggle-checkbox {
  position: absolute;
  left: -9999px;
}

.filter {
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: bold;
}

.filters {
  display: none;
}

.toggle-checkbox:checked ~ .filters {
  display: flex;
}

/* 카테고리, 시즌 컬럼 스타일 */
.col-md-6 {
  flex: 0 0 50%;
}

.btn-secondary {
  background-color: rgb(185, 185, 185);
  border-color: transparent;
  color: rgb(41, 41, 41);
  border-radius: 10px;
  font-size: 0.8rem;
  padding: 3px 12px;
}

.btn-primary {
  background-color: rgb(83, 102, 156);
  border-color: transparent;
  color: rgb(255, 255, 255) !important;
  border-radius: 5px;
  font-size: 0.8rem;
  padding: 5px 15px;
}
