{% extends "layout.html" %} {% block content %}
<div class="select_box">
  <input
    type="checkbox"
    id="toggle-all"
    class="toggle-checkbox visually-hidden"
  />
  <label for="toggle-all" class="filter toggle-label">필터</label>
  <div class="filters row mb-4">
    <div class="col-md-6">
      <h4 class="filter_key">카테고리</h4>
      <div class="filter-options">
        <a href="/" class="btn btn-secondary">전체</a>
        <a
          href="{{ url_for('index', filter_key='category', filter_value='상의') }}"
          class="btn btn-secondary"
          >상의</a
        >
        <a
          href="{{ url_for('index', filter_key='category', filter_value='하의') }}"
          class="btn btn-secondary"
          >하의</a
        >
        <a
          href="{{ url_for('index', filter_key='category', filter_value='아우터') }}"
          class="btn btn-secondary"
          >아우터</a
        >
      </div>
    </div>
    <div class="col-md-6">
      <h4 class="filter_key">시즌</h4>
      <div class="filter-options">
        <a
          href="{{ url_for('index', filter_key='season', filter_value='봄') }}"
          class="btn btn-secondary"
          >봄</a
        >
        <a
          href="{{ url_for('index', filter_key='season', filter_value='여름') }}"
          class="btn btn-secondary"
          >여름</a
        >
        <a
          href="{{ url_for('index', filter_key='season', filter_value='가을') }}"
          class="btn btn-secondary"
          >가을</a
        >
        <a
          href="{{ url_for('index', filter_key='season', filter_value='겨울') }}"
          class="btn btn-secondary"
          >겨울</a
        >
      </div>
    </div>
  </div>
</div>
<div class="sort_options row mb-4">
  <div class="col-md-12">
    <h3 class="filter_option">정렬 옵션</h3>
    <a
      href="{{ url_for('index', sort_key='name_asc', filter_key=filter_key, filter_value=filter_value) }}"
      class="btn btn-secondary"
      >이름 오름차순</a
    >
    <a
      href="{{ url_for('index', sort_key='name_desc', filter_key=filter_key, filter_value=filter_value) }}"
      class="btn btn-secondary"
      >이름 내림차순</a
    >
    <a
      href="{{ url_for('index', sort_key='price_asc', filter_key=filter_key, filter_value=filter_value) }}"
      class="btn btn-secondary"
      >가격 오름차순</a
    >
    <a
      href="{{ url_for('index', sort_key='price_desc', filter_key=filter_key, filter_value=filter_value) }}"
      class="btn btn-secondary"
      >가격 내림차순</a
    >
  </div>
</div>

<div class="row">
  {% for product in products %}
  <div class="col-md-4 mb-4">
    <div class="card">
      <img
        src="{{ product.img }}"
        class="card-img-top"
        alt="{{ product.name }}"
      />
      <div class="card-body">
        <h5 class="card-title">{{ product.name }}</h5>
        <p class="card-text">{{ product.price }}원</p>
        <p class="card-text">
          <strong>카테고리:</strong> {{ product.category }}
        </p>
        <p class="card-text">
          <strong>계절:</strong> {{ product.season | join(', ') }}
        </p>
        <a href="#" class="btn btn-primary">자세히 보기</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
